*{
  box-sizing: border-box;
}

h1, h2, p {
  margin: 0;
}

ul {
  padding: 0;
}

.App {
  max-width: 90rem;
  margin: 1rem auto;
  display: grid;
  grid-template-areas: 
  "header header"
  "sidebar main";
  grid-template-rows: 3.5rem 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 1rem;
}

.app-wrapper {
  width: 100%;
  grid-area: main;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}