.item {
  width: 4rem;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

.picture {
  width: 3rem;
  border-radius: 50%;
}

.name {
  width: 4rem;
  overflow: hidden;
  padding: 0.3rem;
  text-overflow: ellipsis;
}